.App {
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 20vmin;
  vertical-align: text-center;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  vertical-align: text-center;
  color: white;
  padding: 2%;
  font-size: 20px;
}

.App-content {
  background-color: white;
  vertical-align: text-center;
  color: black;
  font-size: 14px;
}

.App-footer {
  background-color: white;
  vertical-align: text-center;
  color: black;
  font-size: 12px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
